
label.error{
    color: #F00;
    font-weight: bold;
}

input.error,select.error,textarea.error{
    border: 1px red solid;
}

#content{
    margin:auto;
    max-width: 940px;
    display: table;
    background-color: antiquewhite;
}

#blog article{
    margin:20px;
    width:300px;
    box-shadow:3px 3px 5px rgba(0,0,0,0.5);
    background-color: lightpink;
    border:1px solid #d7d7d7;
    padding: 20px;
}

#blog img{
    margin-top:20px;
    width:100%;
}

#blog header{
    text-align: center;
}

aside{
    display:table-cell;
    width:300px;
    padding:20px;
    padding-top: 10px;
    background-color: lightblue;
}


aside header{
    text-align: center;
}

aside article{
    margin:20px;
    box-shadow:3px 3px 5px rgba(0,0,0,0.5);
    background-color: lightpink;
    border:1px solid #d7d7d7;
    padding: 20px;
}

.fa{
    padding:20px;
    font-size:30px;
    width: 50px;
    text-align: center;
    text-decoration:none;
    margin: 5px 2px;
}

.fa:hover{
    opacity: 0.7;
}

.fa-skpe{
    background: #00aff0;
    color: white;
}